<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BizLand Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <link href="~/css/Home/Index.css" rel="stylesheet">
</head>

<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h3>Find Out More <span>About Us</span></h3>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d738.1037598181691!2d23.605117829190334!3d42.26966299869957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDE2JzEwLjgiTiAyM8KwMzYnMjAuNCJF!5e0!3m2!1sen!2sbg!4v1609189863741!5m2!1sen!2sbg" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Hike Pals is an app that looks to bring people who love nature together.</h3>
                <p class="font-italic">
                    “Great things are done when men and mountains meet; This is not done by jostling in the street.”
                    - William Blake
                </p>
                <p>
                    Discover the outdoors by:
                </p>
                <ul>

                    <li>
                        <i class="fas fa-mountain"></i>
                        <div>
                            <h5>Exploring new hiking routes</h5>
                            <p>Read about routes and locations shared by other hikers' or may be you could give them a hint by sharing of your most favourite spots in nature.</p>
                        </div>
                    </li>
                    <li>
                        <i class="fas fa-hiking"></i>
                        <div>
                            <h5>Joining other hikers in orgazined events</h5>
                            <p>Reading and thinking about nature won't do, you have to get your hands and feet dirty and your muscle sore. You know you want to! So choose a hiking events and join other hikers or if none are to you liking create you own hiking event and see for your yourself that you are not the only one looking for adventure!</p>
                        </div>
                    </li>
                </ul>
                <p>
                    Write us a message at hikepals@abv.bg or
                </p>
                <p>
                    Use you contact form:  <a type="button" class="btn btn-sm btn-primary" asp-controller="Contacts" asp-action="Index">Contact form</a>
                </p>
            </div>
        </div>

    </div>
