<h1>Thank you for contacting us!</h1>
<h4>We make sure to get back to you shortly!</h4>

@section Scripts{
    <script>
        window.setTimeout(function () {
            window.location.href = 'https://localhost:44319/Contacts/';
        }, 3000);
    </script>
}