@model HikePals.Web.ViewModels.Events.EditEventViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.Title</h4>

<hr />
<a class="btn btn-dark" asp-area="Administration" asp-controller="Events" asp-action="Index">Back to List</a>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaxGroupSize" class="control-label"></label>
                <input asp-for="MaxGroupSize" class="form-control" />
                <span asp-validation-for="MaxGroupSize" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TransportId">Transport</label>
                <select asp-for="TransportId" class="form-control" asp-items="Model.TransportItems" class="custom-select">
                    <option value="">@Model.TransportName</option>
                </select>
                <span asp-validation-for="TransportId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>
        <a class="btn btn-dark" asp-area="Administration" asp-controller="Events" asp-action="Index">Back to List</a>
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
