@model IEnumerable<HikePals.Web.ViewModels.Trips.TripViewModel>
<head>
    <link href="~/css/AllTrips/index.css" rel="stylesheet" />
</head>
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-dismissible alert-success">@this.TempData["Message"]</div>
}

<h1>Find a hike route that suits you best!</h1>
<div>
    <a class="btn btn-outline-primary" style="text-align: center" asp-area="" asp-controller="Trips" asp-action="CreateTrip">Create you own Hike Route</a>
</div>

<div class="container text-center">
    @{await Html.RenderPartialAsync("_AllTripsPartial", this.Model);}
</div>
