@model IEnumerable<HikePals.Web.ViewModels.Trips.TripViewModel>
    <h1>Decide where you want to go by choosing a hike hike route!</h1>
    <h2>Or create own!</h2>

    @if (this.TempData.ContainsKey("Message"))
    {
        <div class="alert alert-dismissible alert-success">@this.TempData["Message"]</div>
    }

    <div class="container text-center">
        @{await Html.RenderPartialAsync("_AllTripsPartial", this.Model);}
    </div>
