@model IEnumerable<HikePals.Web.ViewModels.Trips.TripViewModel>
    <h1>All trips!</h1>


    <div class="container text-center">
        @{await Html.RenderPartialAsync("_AllTripsPartial", this.Model);}
    </div>
