@model IEnumerable<HikePals.Web.ViewModels.Trips.TripViewModel>
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-dismissible alert-success">@this.TempData["Message"]</div>
}

<h1>Decide where you want to go by choosing a hike hike route!</h1>
<span></span><h2 style="">Or share your own: </h2> <span><a class="btn btn-outline-primary" asp-area="" asp-controller="Trips" asp-action="CreateTrip">Create a Hike Route</a> </span>


<div class="container text-center">
    @{await Html.RenderPartialAsync("_AllTripsPartial", this.Model);}
</div>
