@model HikePals.Web.ViewModels.Categories.AllCategoriesViewModel

    <h1 class="justify-content-center">CATEGORIES</h1 class="justify-content-center">

    <h2 class="justify-content-center">Select a category to see all trip routes from this category type:</h2>
<ul class="list-group">

@foreach (var category in Model.Categories)
{
    <li><a asp-controller="Trips" asp-action="All" asp-route-category="@category.Name">@category.Name</a></li>
}
</ul>
